@media print{
        body{
            height:600px;
            }
        #logo{
            margin-top: -150px;
            margin-bottom: -10px;
            
        }
        .footer{
            visibility: hidden;
            height: 0px;
               }

        .navbar{
            visibility:hidden;
            height: 0px;
        }
        #noprint {
            visibility: hidden;
            height: 0px;
        }
        #printno{
            visibility: hidden;
            height: 0px;
        }
        .container{
            height: 200px;
        }
        .table-striped{
            width: 300px;
        }
        .col-sm-6{
            width: 400px;
            float: left;
            margin-right: 10px;
        }

}


BODY{
    background: -webkit-radial-gradient(#065798,#001427); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#065798,#001427); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#065798,#001427); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#065798,#001427); /* Standard syntax (must be last) */
	background-repeat: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B2C5D3', endColorstr='#FFFFFF',GradientType=0 );/*graadient para IE*/
    font-family: CajaFont;
    font-size: 15px;
}

#logo{
    margin-top:80px;
}
.container{
	text-align: center;
}

#myCarousel{
	background: -webkit-radial-gradient(#065798,#001427); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#065798,#001427); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#065798,#001427); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#065798,#001427); /* Standard syntax (must be last) */
    padding-top: 10px;
    padding-bottom: 10px;

}

#texto-foto{
	background: #E4E4E4;
	padding-top:20px;
    padding-left: 30px;
    padding-right: px;
	margin-top: 5px;
    margin-bottom: 5px;
    float:left;
    font-family: 'Lobster', cursive;
}

#texto-foto h3{
    font-size: 40px;
}

#texto-foto p{
    font-size: 20px;
}

.img-thumbnail{
    height: 450px;
    width: 800px;
}
.carousel-inner{
	 text-align: center;
 }

.carousel .item > img{
	 display: inline-block;
     height: 600px;
	}

.dropdown-menu{ /*Alineacion del drop down menu*/
	text-align: center;
}

#noticias{
   background-color: #F8F8F8;
    padding-top: 10px;
}

.noticias a, a:active, a:hover{
	text-decoration: none;
}

.ui-autocomplete {
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    } /*este estilo limita y pone un scroll
en el j-query de los juicios*/

#total-IniFin{
	margin-top:15px;
	font-weight: bold;
	background-color: #D1E8D7;
    color:#333333;
}

.navbar-header li{
    font-size: 18px;
}


/* ================================================================================
	#Footer
================================================================================ */
 .footer {/* el estilo del div footer lo puse aca porque no le gusta imagen importada*/
          /*background: url(imagenes/logos/prueba1.gif);*/
          background-color: #F8F8F8;
          /*background-size: 70%;*/
          background-repeat: no-repeat;
          background-position: center;
          border-top: 10px;
          border-top-color: #5E5E5E;
          text-align: center;

      }
.footer p { text-align: center;}
.footer  {font-size: 18px; line-height: 1.2; margin-top: 50px; }
.footer ul { list-style: none outside none;text-align: center;}
.footer ul li { padding-bottom: 8px;}
.footer li {text-align: center;}
.footer a { color: #333333; }
.footer a:hover { text-decoration: none; color: #A93531; }
.widget-title { text-align: center;  padding: 0px 0 8px; border-bottom: 1px solid #424a58; margin-bottom: 24px; margin-left: 40px; font-size: 16px; font-weight: bolder; color: #2E5059; text-transform: uppercase;}


/*====================================================================================================
footer1
=====================================================================================================*/

.extra {
    font-family: CajaFont;
}
.extra {
    border-top: 1px solid #585858;
    border-bottom: 1px solid #000;
}

.extra-inner {
    padding: 20px 0px;
    font-size: 11px;
    color: #BBB;
    background: #1A1A1A none repeat scroll 0% 0%;
}

.extra .container {
    padding: 0px 20px;
    text-align: center;
}

.extra h4 {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 15px;
}

h4, h5, h6 {
    line-height: 18px;
    font-size: 21px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: CajaFont;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

.extra ul {
    padding: 0px;
    margin: 0px;
    list-style: outside none disc;
}
.extra a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

.extra li {
    list-style: outside none none;
    color: #666;
    text-decoration: none;
}

.span3 {
    width: 270px;
}

[class*="span"] {
    float: left;
    margin-left: 30px;
}
.span3 {
    width: 220px;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}

.footer-inner {
    padding: 15px 0px;
    font-size: 12px;
    background: #111 none repeat scroll 0% 0%;
    color: #999;
}

.span12 {
    width: 940px;
    text-align: left;
}

#panel-noticia{
    text-align: center;
}

#panel-titulo-noticia h3{
    font-family: CajaFont;
    font-size: 25px;
    color: #F8F8F8;

}

#boton-noticia{
    width: 100px;
}

#panel-cuerpo-noticia, #home, #contact{
    font-family: CajaFont;
    font-size: 22px;
    color: #F8F8F8;
}

#panel-cuerpo-noticia p, #panel-cuerpo{
    font-size:18px;
    color: #333333;
}

/* Texto blanco*/
.azul{
    font-family: CajaFont;
    font-size: 20px;
    color: #F8F8F8;
    padding-bottom: 20px;
}

/*Texto Negro*/
.blanco {
    color: #333333;
    font-size: 22px;
    background-color:#ededed;
    padding-bottom: 20px;
}


#marca{
    font-weight: bolder;
    font-size: 23px;
}
/*====================================================================*/

/* =============================================================
   GENERAL STYLES
 ============================================================ */

.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
/*JUST ADDED PADDING IN SECTIONS OF TEMPLATE */
section {
    padding-top:50px;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
      padding:0px;
}
/*TO SET MINIMUM HEIGHT OF THE SECTION: YOU CAN REMOVE THIS CLASS IF WANT */
.min-height-cls {
    min-height:500px; 
}
/*CHANGING COLOR AND ROUNDING BORDER OF SCROLLSPY ON LINK ACTIVE  */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #7EACFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
/*TO MAKING NAV BAR LINKS WHITE COLORED */
.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}

.active
    {
    background-color: #E7E7E7;
    }

#prueba
    {
    padding-top: 15px;
    padding-bottom: 15px;
    }

.prueba-titulo
    {
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: bolder;
    }

#prueba-last
    {
    padding-top: 26px;
    padding-bottom: 15px;
    }
#carousel-noticias
    {
        padding-bottom: 20px;
    }

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table-mix{
    font-size: 15px;
}

.tdmix{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.mesTmix{
    padding-left: 7px;
    padding-right:7px;
}

/*===================================================================================================================================================================*/
/*==========================================caldulo de intereses=====================================================================================================*/

#tablaint{
    text-align: center;
}

#thint{
    text-align: center;
