BODY{
	background: linear-gradient(rgba(178,197,211,1), rgba(178,197,211,0) );
	background-repeat: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B2C5D3', endColorstr='#FFFFFF',GradientType=0 );/*graadient para IE*/
}

#logo{
    margin-top: 60px;
    margin-bottom: 10px;/*dejo 10px porque lo tapa el menu*/
	text-align: center;
}

.imagelogo{
	width: 100%;
	border-radius: 15px;
}

.container{
	text-align: center;
}

.slide{
	margin-left: 19%;
	width: 63%;
	height: 25%;
}

.carousel-inner{
	 text-align: center;
 }

.carousel .item > img{
	 display: inline-block;
	}

.dropdown-menu{ /*Alineacion del drop down menu*/
	text-align: center;
}

#noticias-index{
	width: 80%;
	margin-left: 10%;
}

.noticias a, a:active, a:hover{
	text-decoration: none;
}

.ui-autocomplete { height: 100px; overflow-y: scroll; overflow-x: hidden;} /*este estilo limita y pone un scroll
en el j-query de los juicios*/

#total-IniFin{
	margin-top:15px;
	font-weight: bold;
	background-color: #D1E8D7;
	width: 95%; 
}


/* ================================================================================
	#Footer
================================================================================ */
 .footer {/* el estilo del div footer lo puse aca porque no le gusta imagen importada*/
          /*background: url(imagenes/logos/prueba1.gif);*/
          background-color: #F8F8F8;
          /*background-size: 70%;*/
          background-repeat: no-repeat;
          background-position: center;
          border-top: 10px;
          border-top-color: #5E5E5E;
          text-align: center;
  
      }
.footer p { text-align: center;}
.footer  {font-size: 18px; line-height: 1.2; margin-top: 50px; }
.footer ul { list-style: none outside none;text-align: center;}
.footer ul li { padding-bottom: 8px;}
.footer li {text-align: center;}
.footer a { color: #B18441; }
.footer a:hover { text-decoration: none; color: #A93531; }
.widget-title { text-align: center;  padding: 0px 0 8px; border-bottom: 1px solid #424a58; margin-bottom: 24px; margin-left: 40px; font-size: 16px; font-weight: 900; color: #2E5059; text-transform: uppercase;}

