@media print{
        body{
            height:600px;
            }
        #logo{
            display: block;
        }
        .footer{
            visibility: hidden;
            height: 0px;
               }

        #footer1{
            visibility: hidden;
            height: 0px;
        }

        #footer1-inner{
            visibility: hidden;
            height: 0px;
        }

        #noprint {
            visibility: hidden;
            height: 0px;
        }
        #printno{
            visibility: hidden;
            height: 0px;
        }
        .container{
            height: 200px;
        }
        .table-striped{
            width: 300px;
        }
        .col-sm-6{
            width: 333px;
            float: left;
            margin-right: 10px;
        }
        #sucesDer{
            width: 333px;
            float: right;
            margin-right: 10px;
        }

        #forminteres{
            visibility: hidden;
            height: 0px;
        }

        #tablainteres{
            margin-top: -300px;
        }

}

